<form class="product-form" [formGroup]="formGroup" (submit)="submit()">
  <mat-form-field>
    <input matInput placeholder="Name" formControlName="name">
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="" placeholder="Price" type="number" min="0" formControlName="price">
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Description" formControlName="description">
  </mat-form-field>

  <mat-form-field>
    <mat-label>Select category</mat-label>
    <mat-select formControlName="category">
      <mat-option *ngFor="let category of categories" [value]="category">{{category}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-dialog-actions class="action">
    <button mat-raised-button [mat-dialog-close]="0">Cancel</button>
    <button mat-raised-button class="mat-primary" [disabled]="!formGroup.valid">{{1 > 0 ?
      'Edit' : 'Create'}} Product</button>
  </mat-dialog-actions>

</form>
