<div class="d-flex bottom-nav">
  <div class="top-content">
    <mat-form-field>
      <input matInput (keyup)="onSearch($event.target.value)" [(ngModel)]="searchText" placeholder="Search Keywords">
      <button color="primary" matSuffix mat-icon-button (click)="clearSearch()">
        <mat-icon>
          {{searchText ? 'close' : 'search'}}
        </mat-icon>
      </button>
    </mat-form-field>
    <div class="action-user">
      <button mat-raised-button class="add-new" (click)="addNewProduct()">
        <mat-icon color="primary" matTooltip="Create Product">add_circle_outline</mat-icon>
        Create Product
      </button>
    </div>
    <div class="action-user">
      <mat-form-field>
        <mat-label>Filter by category</mat-label>
        <mat-select (selectionChange)="selectCategory($event.value)">
          <mat-option value="clear">None</mat-option>
          <mat-option *ngFor="let category of categories" [value]="category">{{category}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="action-user">
      <button mat-raised-button class="add-new" (click)="syncData()">
        <mat-icon color="primary" matTooltip="Sync Product">sync</mat-icon>
        Sync Data
      </button>
    </div>
    <ng-content></ng-content>
  </div>
</div>
