table{
  width: 100%;
}

.top-content{
  margin-bottom: 50px;
  display: flex;
  align-items: baseline;
  .action-user{
    margin-right: 50px;
  }
}

.view-product{
  margin: 0 20px;
}

.column{
  width: 15%;
}

md-input-container:not(.md-input-invalid).md-input-focused .md-input {
  border-color: blue;
}
